node_modules
coverage
*.js.map
classifier/issue_data.json
classifier/issue_labels.json
**/.DS_Store
.env
.idea/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
