name: Crowdin download

on:
  workflow_call:
    inputs:
      crowdin_project_id:
        description: "The Crowdin project ID"
        required: true
        type: number
      pr_labels:
        description: "Comma-separated list of labels to apply to the pull request"
        required: false
        type: string
      en_paths:
        description: "Comma-separated list of paths to en-US locale files. NOTE: passing this input will enable automerge of the pull request."
        required: false
        type: string
      github_board_id:
        description: "The ID of the GitHub project board to add the pull request to"
        required: false
        type: string

jobs:
  download-sources-from-crowdin:
    runs-on: ubuntu-latest

    permissions:
      contents: write # needed to commit changes into the PR
      pull-requests: write # needed to update PR description, labels, etc
      id-token: write # needed to get vault secrets

    outputs:
      pull_request_url: ${{ steps.crowdin-download.outputs.pull_request_url }}

    steps:
      - name: "Get vault secrets"
        id: vault-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@main # zizmor: ignore[unpinned-uses]
        with:
          # Vault secret paths:
          # - ci/common/grafana/...
          common_secrets: |
            CROWDIN_TOKEN=grafana/grafana_frontend_platform_crowdin_bot:access_token
            GRAFANA_PR_AUTOMATION_APP_ID=grafana_pr_automation_app:app_id
            GRAFANA_PR_AUTOMATION_APP_PEM=grafana_pr_automation_app:app_pem

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92
        with:
          app_id: ${{ env.GRAFANA_PR_AUTOMATION_APP_ID }}
          private_key: ${{ env.GRAFANA_PR_AUTOMATION_APP_PEM }}

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ steps.generate_token.outputs.token }}
          persist-credentials: false

      - name: Download sources
        id: crowdin-download
        uses: crowdin/github-action@b8012bd5491b8aa8578b73ab5b5f5e7c94aaa6e2
        with:
          upload_sources: false
          upload_translations: false
          download_sources: false
          download_translations: true
          export_only_approved: true
          localization_branch_name: i18n_crowdin_translations
          create_pull_request: true
          pull_request_title: 'I18n: Download translations from Crowdin'
          pull_request_body:  |
            :robot: Automatic download of translations from Crowdin.

            This runs once per day and will merge automatically if all the required checks pass.

            If there's a conflict, close the pull request and **delete the branch**.
            You can then either wait for the schedule to trigger a new PR, or rerun the action manually.
          pull_request_labels: ${{ inputs.pr_labels }}
          pull_request_base_branch_name: 'main'
          base_url: 'https://grafana.api.crowdin.com'
          config: 'crowdin.yml'
          # Magic details of the github-actions bot user, to pass CLA checks
          github_user_name: "github-actions[bot]"
          github_user_email: "41898282+github-actions[bot]@users.noreply.github.com"
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          CROWDIN_PROJECT_ID: ${{ inputs.crowdin_project_id }}
          CROWDIN_PERSONAL_TOKEN: ${{ env.CROWDIN_TOKEN }}

      - name: Get pull request ID
        if: inputs.github_board_id && steps.crowdin-download.outputs.pull_request_url
        shell: bash
        # Crowdin action returns us the URL of the pull request, but we need an ID for the GraphQL API
        # that looks like 'PR_kwDOAOaWjc5mP_GU'
        run: |
          pr_id=$(gh pr view ${{ steps.crowdin-download.outputs.pull_request_url }} --json id -q .id)
          echo "PULL_REQUEST_ID=$pr_id" >> "$GITHUB_ENV"
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Get project board ID
        uses: octokit/graphql-action@51bf543c240dcd14761320e2efc625dc32ec0d32
        id: get-project-id
        if: inputs.github_board_id && steps.crowdin-download.outputs.pull_request_url
        with:
          org: grafana
          project_number: ${{ inputs.github_board_id }}
          query: |
            query getProjectId($org: String!, $project_number: Int!){
              organization(login: $org) {
                projectV2(number: $project_number) {
                  title
                  id
                }
              }
            }
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Add to project board
        uses: octokit/graphql-action@51bf543c240dcd14761320e2efc625dc32ec0d32
        if: inputs.github_board_id && steps.crowdin-download.outputs.pull_request_url
        with:
          projectid: ${{ fromJson(steps.get-project-id.outputs.data).organization.projectV2.id }}
          prid: ${{ env.PULL_REQUEST_ID }}
          query: |
            mutation addPullRequestToProject($projectid: ID!, $prid: ID!){
              addProjectV2ItemById(input: {projectId: $projectid, contentId: $prid}) {
                item {
                  id
                }
              }
            }
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Get vault secrets
        id: vault-secrets-approver
        if: inputs.en_paths && steps.crowdin-download.outputs.pull_request_url
        uses: grafana/shared-workflows/actions/get-vault-secrets@main # zizmor: ignore[unpinned-uses]
        with:
          # Secrets placed in ci/repo/grafana/grafana/grafana-pr-approver
          repo_secrets: |
            GRAFANA_PR_APPROVER_APP_ID=grafana-pr-approver:app-id
            GRAFANA_PR_APPROVER_APP_PEM=grafana-pr-approver:private-key

      - name: Generate approver token
        if: inputs.en_paths && steps.crowdin-download.outputs.pull_request_url
        id: generate_approver_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92
        with:
          app_id: ${{ env.GRAFANA_PR_APPROVER_APP_ID }}
          private_key: ${{ env.GRAFANA_PR_APPROVER_APP_PEM }}

      - name: Approve and automerge PR
        if: inputs.en_paths && steps.crowdin-download.outputs.pull_request_url
        shell: bash
        env:
          GITHUB_TOKEN: ${{ steps.generate_approver_token.outputs.token }}
          QUOTED_PR_URL: ${{ steps.crowdin-download.outputs.pull_request_url }}
          EN_PATHS: ${{ inputs.en_paths }}
        # Only approve if:
        # - the PR does not modify files other than json files under the public/locales/ directory
        # - the PR does not modify the en-US locale
        # TODO make these paths inputs to the workflow when we move this to a shared repo
        run: |
          # Crowdin action outputs a quoted string, so we need to unquote it when using it
          # as an environment variable
          PR_URL=$(echo "$QUOTED_PR_URL" | sed -E 's/^["'\'']//; s/["'\'']$//')
          
          IFS=$'\n' read -ra CHANGED_ARRAY <<< "$(gh pr diff --name-only $PR_URL)"
          IFS=',' read -ra EN_US_ARRAY <<< "$EN_PATHS"

          is_en_us_file() {
            local file="$1"
            
            for en_us_path in "${EN_US_ARRAY[@]}"; do
              # Remove any trailing whitespace
              en_us_path=$(echo "$en_us_path" | xargs)
              
              if [[ "$file" == "$en_us_path" ]]; then
                  return 0
              fi
            done
            
            return 1
          }

          is_locale_file() {
            local file="$1"
            
            for en_us_path in "${EN_US_ARRAY[@]}"; do
              # Remove any trailing whitespace
              en_us_path=$(echo "$en_us_path" | xargs)
              
              # Replace /en-US/ with the locale pattern /[a-zA-Z\-]*/
              locale_pattern=$(echo "$en_us_path" | sed 's|/en-US/|/[a-zA-Z\\-]*/|g')
              
              # Check if the file matches this locale pattern
              if [[ "$file" =~ $locale_pattern ]]; then
                  return 0
              fi
            done
            
            return 1
          }

          for file in "${CHANGED_ARRAY[@]}"; do
            if is_en_us_file "$file"; then
              echo "en-US changes detected, not approving"
              exit 1
            fi
          done

          for file in "${CHANGED_ARRAY[@]}"; do
            if ! is_locale_file "$file"; then
              echo "Non-i18n changes detected, not approving"
              exit 1
            fi
          done

          echo "Approving and enabling automerge"
          gh pr review "$PR_URL" --approve
          gh pr merge --auto --squash "$PR_URL"
